* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
}

h2 {
    font-size: 20px;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.541);
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}

ul{
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 10px;
    padding: 10px;
    gap: 30px;
}

.iim {
    margin: 10px;
    padding: 5px;
    width: 50px;
    border-radius: 100%;
    scale: 1.7; 

}

.iim2 {
    display: flex;
    width: 50%;
    max-height: 400px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 150px;
    scale: 0.75;
    

}

h1 {
   margin-right: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: auto;
}

a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.main1 {
    display: flex;

}

.texteuh {
    margin: 20px;
}

.main2 {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    max-width: 375px;
}
.kaws-montagne {
    width: 40%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 255px;
    border-radius: 30px;
    

}
.container {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    max-width: 505px;
    margin-top: 55px;
    font-size: 20px;
    margin-bottom: 200px;
}


.button {
    display: inline-block;
    font-size: 24px;
    padding: 1em 2em;
    color: white;
    font-weight: 400;
    background: rgb(31, 31, 31);
    transition: 0.2s ease-in-out;
    text-decoration: none;
    margin-bottom: 35px;
}

.description {
    border-radius: 50px;
    scale: 0.7;
    align-self: center;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: #bca22d;
    transform: scale(1.1);
}




.grid {
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(100px,auto);
    border-width: 50px;
    margin: auto;
}

.gui1 {  
    width: 600px;
    object-fit: fill;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(228, 228, 228);
    margin-top: 15px;
    margin-bottom: 15px;
}

.gui {
    grid-column: 1/2;
    grid-row: 1;
}

.text-gui {
    grid-column: 2/2;
    grid-row: 1;
}

.gui2 {
    grid-column: 2/2;
    grid-row: 1;
}

.margin {
    margin-top: 50px;
}    



.text1 {
flex-direction: column;
flex-wrap: wrap;
-ms-flex-align: center;
}


.pochette {
    width: 50%;
    border-radius: 10px;
    margin-top: 150px;
    margin: 50px;
}






@media screen and (max-width: 500px) {
    ul {
        display: flex;
        list-style: none;
        gap:   10px;
        padding: 5px;
        font-size: 15px;
        transition: 0.2s ease-in-out;
        flex-wrap: wrap;
 }

.iim2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    scale: 0.8;
    transition: 0.2s ease-in-out;
    flex-wrap: wrap;
}
.main2 {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    max-width: 190px;
    font-size: 10px;
    transition: 0.2s ease-in-out;
    flex-wrap: wrap;
}

.container {
display: flex;
margin: auto;
align-items: center;
justify-content: space-around;
max-width: 230px;
font-size: 10px;
margin-top: 10px;
margin-bottom: 100px;
transition: 0.2s ease-in-out;
flex-wrap: wrap;

}
.kaws-montagne {
    width: 50%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 55px;
    transition: 0.2s ease-in-out;
    flex-wrap: wrap;
}

.button {
    display: inline-block;
    font-size: 14px;
    padding: 1em 2em;
    color: white;
    font-weight: 400;
    background: rgb(31, 31, 31);
    transition: 0.2s ease-in-out;
    text-decoration: none;
    margin-bottom: 35px;
    flex-wrap: wrap;

}

.description {
    border-radius: 40px;
    scale: 0.7;
    align-self: center;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.button:hover {
    background-color: #bca22d;
    transform: scale(1.1);
    flex-wrap: wrap;
}




.grid {
    max-width: 1400px;
    display: grid;
    border-width: 50px;
    margin: auto;
    flex-wrap: wrap;
}

.gui1 {  
    width: 200px;
    object-fit: fill;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(228, 228, 228);
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


.margin {
    margin-top: 50px;
    flex-wrap: wrap;
}    



.text1 {
    display: flex;
flex-direction: column;
flex-wrap: wrap;
-ms-flex-align: center;
flex-wrap: wrap;
}


.pochette {
    width: 50%;
    border-radius: 10px;
    margin-top: 150px;
    margin: 50px;
    flex-wrap: wrap;
}


.parapraph {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    font-size: 10px;
    flex-direction: column;
    flex-wrap: wrap;
}



}





    

